@model WarehouseProductForm

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Management products for warehouse <strong class="WarehouseName"></strong></h3>
            </div>
            <div class="col-md-6">
                <div class="form-inline justify-content-end h-100">
                    <div class="form-group">
                        <label class="mr-2">Warehouse</label>
                        <select class="form-control mr-2" asp-for="WarehouseId" asp-items="@Model.Warehouse">
                            <option value="0"></option>
                        </select>
                        <button class="btn btn-primary" onclick="addAllProducts()">Add All Products</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="example" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:50%;">Product Name</th>
                        <th>Product Sku</th>
                        <th>Exist</th>
                        <th>Select to add</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>
@section Scripts{
    <script>
            var WarehouseId;
            var table;
        $("#WarehouseId").on("change", function () {
            WarehouseId = parseInt(this.value);
            if(WarehouseId == 0){
                return;
            }
              if ($.fn.dataTable.isDataTable('#example')) {
                table.destroy();
              //$("#example").empty();
            }
             table = $("#example").DataTable({
                "language": {
                    "processing": "loading data",
                    "info": "bản ghi từ _START_ đến _END_ và có tổng _TOTAL_ bản ghi",
                    "emptyTable": "Không tìm thấy bản ghi",
                    "search": "Tìm kiếm",
                    "lengthMenu": "Xem _MENU_ bản ghi"
                },
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": `/WarehouseProduct/post/${WarehouseId}/products`,
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [1,2,3],
                    "visible": true,
                    "searchable": false,
                    "orderable": false,
                }],
                "columns": [
                    { "data": "name", "name": "Name"},
                    { "data": "sku", "name": "Sku" },
                    {
                        "data": "isExistInWarehouse", "name": "IsExistInWarehouse",
                        "render": function (IsExistInWarehouse, type, full, meta) {
                            if (IsExistInWarehouse) {
                                return '<i class="fas fa-check text-primary"></i>';
                            } else {
                                return '<i class="fas fa-times text-danger"></i>';
                            }
                        }
                    },
                    {
                        "data": "IsExistInWarehouse", "name": "IsExistInWarehouse",
                        "render": function (IsExistInWarehouse, type, row) {
                            if (row.isExistInWarehouse) {
                                return '<input type="checkbox" disabled="disabled"/>';
                            } else {
                                return `<input type="checkbox" class="productid-select" value="${row.id}" />`;
                            }
                        }
                    }],
                "drawCallback":function( settings ) {
                       numberValidate();
                    },
                "initComplete": function () {
                    $(this.api().columns(3).footer()).html(`<span class="btn btn-primary" onclick="addSelectedProducts()">Add selected products</span>`)
                    }
      
            });
           $(".WarehouseName").html($(this).find("option:selected").text());
        });


        function addSelectedProducts() {
            var selectedProductIds = $('.productid-select:checked').map(function () {
                return parseInt(this.value);
            }).get();

            var url = '@Url.Content("~/")' + `WarehouseProduct/AddProducts/${WarehouseId}/add-products`;
            $.post(url, { productIds: selectedProductIds }).done(function () {
               var oTable = $('#example').DataTable();
                oTable.draw();
            }).fail(function () {
                toastr.error("Something Went Wrong!");
            });
        }
      
        function addAllProducts() {
            if(WarehouseId == 0){
                toastr.error("Please select warehouse");
                return;
            }
            var url = '@Url.Content("~/")' + `WarehouseProduct/AddAllProducts/${WarehouseId}/add-all-products`;
            $.post(url).done(function () {
               var oTable = $('#example').DataTable();
                oTable.draw();
                toastr.success("Success");
            }).fail(function () {
                toastr.error("Something Went Wrong!");
            });
        }
    </script>
}