@{
    ViewData["Title"] = "Thành Công";
}
<h1>Cảm ơn bạn đã Mua hàng</h1>
<h3>
    bạn sẽ quay lại trang chủ trong
    <span class="rederect-to"></span>
</h3>
@*sau một khoảng thời gian tự refresh*@
@*<meta http-equiv="refresh" content="10 ; URL='https://localhost:5001'">*@
@section Scripts{
    <script>
        $(document).ready(function () {
            var seconds = 5;
            setInterval(function () {
                seconds--;
                $(".rederect-to").html(seconds + " giây");
                if (seconds == 0) {
                    window.location = "https://localhost:5001";
                }
            }, 1000);
        })
    </script>
}