@*@section Scripts{
 
    <link href="~/css/cart.css" rel="stylesheet" />
}
<main>
    <div id="woocommerce">

    </div>
    <div id="cart">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <table class="table">
                        <thead>
                            <tr>
                                <td><span class="hidden-sm-down">Sản phẩm</span></td>
                                <td><span class="hidden-md-up">Sản phẩm</span></td>
                                <td class="hidden-sm-down">Giá</td>

                                <td>Số lượng</td>
                                <td class="hidden-sm-down">Tổng</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="no-padding"><a href="../html/single.html"><img src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-1.jpg"></a></td>
                                <td>
                                    <div class="cart-item-details">
                                        <a href="../html/single.html">Mermaid Lace Gown</a>
                                        <br>
                                        <div class="cart-item-price hidden-md-up">
                                            <p class="no-margin"><span class="item-count">2</span> X <span class="item-price">320.000</span></p>
                                        </div>
                                        <a href="javascript:void(0)">Remove</a>
                                    </div>
                                </td>
                                <td class="hidden-sm-down">
                                    <div class="cart-item-price">
                                        <span class="price-range">320.000</span>
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                        <span><del class="item-sale">394.000</del></span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="cart-item-quantity">
                                        <div class="quantity">
                                            <div class="wrap-num-product">
                                                <div class="btn-num-product-down">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </div>
                                                <input class="txt-center num-product" type="number" name="num-product" value="1">
                                                <div class="btn-num-product-up">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="hidden-sm-down item-total">788.000</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <a class="return-shop" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Tiếp tục mua hàng </a>
                </div>
                <div class="col-md-4 total">
                    <div class="box">

                        <h3 class="title">Tổng đơn hàng</h3>

                        <table class="table">
                            <tr>
                                <td>Tổng</td>
                                <td class="text-right">1.050.000</td>
                            </tr>
                            <tr>
                                <td>Phí vận chuyển</td>
                                <td class="text-right">25.000</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Mã giảm giá
                                    <br>
                                    <input class="input_style1 m_t_10" type="text" name="discount">
                                </td>

                            </tr>
                            <tr>
                                <td>Thanh toán</td>
                                <td class="text-right">1.075.000</td>
                            </tr>
                        </table>
                        <a href="../html/checkout.html" class="btn btn-black">Thanh toán</a>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="clearfix"></div>
    <div class="product">

        <div class="container">
            <div class="row">

                <h2 class="title">Sản phẩm vừa xem</h2>
                <div class="col-md-3 col-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-1.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Shirt 1</a></h3>
                            <div class="price">
                                $11.00
                                <span>$14.00</span>
                            </div>
                        </div>
                        <ul class="social">
                            <li><a href="" class="js-show-modal1" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                            <li><a href="" class="js-add-wishlist" data-status="true" data-id="0" data-tip="Add to Wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-2.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women's Red Top</a></h3>
                            <div class="price">
                                $8.00
                                <span>$12.00</span>
                            </div>
                        </div>
                        <ul class="social">
                            <li><a href="" class="js-show-modal1" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                            <li><a href="" class="js-add-wishlist" data-status="true" data-id="0" data-tip="Add to Wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-3.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Shirt</a></h3>
                            <div class="price">
                                $11.00
                                <span>$14.00</span>
                            </div>
                        </div>
                        <ul class="social">
                            <li><a href="" class="js-show-modal1" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                            <li><a href="" class="js-add-wishlist" data-status="true" data-id="0" data-tip="Add to Wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="#">
                                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Shirt</a></h3>
                            <div class="price">
                                $11.00
                                <span>$14.00</span>
                            </div>
                        </div>
                        <ul class="social">
                            <li><a href="" class="js-show-modal1" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                            <li><a href="" class="js-add-wishlist" data-status="true" data-id="0" data-tip="Add to Wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>

@section Scripts{ 
<script>
    //$(document).ready(function () {
    //    var cart = [];
    //    var Title;
    //    var html = '';
    //    function loadItem() {
    //        if (localStorage.cart) {
    //            // load cart data from local storage
    //            cart = JSON.parse(localStorage.cart);
    //        };
    //        for (var i = 0; i < cart.length; i++) {
    //            if (cart > 0) {
    //                Id = cart[i].Id;
    //                Title = cart[i].Title;
    //                Img = cart[i].Img;
    //                Price = cart[i].Price;
    //                Sale = cart[i].Sale;
    //                Qty = cart[i].Qty;
    //            }
    //        }
    //                 html += ` <tr>
    //                            <td class="no-padding"><a href="../html/single.html"><img src="${item.Img}"></a></td>
    //                            <td>
    //                                <div class="cart-item-details">
    //                                    <a href="../html/single.html">Mermaid Lace Gown</a>
    //                                    <br>
    //                                    <div class="cart-item-price hidden-md-up">
    //                                        <p class="no-margin"><span class="item-count">${item.Qty}</span> X <span class="item-price">${item.Price}</span></p>
    //                                    </div>
    //                                    <a href="javascript:void(0)">Remove</a>
    //                                </div>
    //                            </td>
    //                            <td class="hidden-sm-down">
    //                                <div class="cart-item-price">
    //                                    <span class="price-range">${item.Price}</span>
    //                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
    //                                    <span><del class="item-sale">${item.Sale}</del></span>
    //                                </div>
    //                            </td>
    //                            <td class="text-center">
    //                                <div class="cart-item-quantity">
    //                                    <div class="quantity">
    //                                        <div class="wrap-num-product">
    //                                            <div class="btn-num-product-down">
    //                                                <i class="fa fa-minus" aria-hidden="true"></i>
    //                                            </div>
    //                                            <input class="txt-center num-product" type="number" name="num-product" value="${item.Qty}">
    //                                            <div class="btn-num-product-up">
    //                                                <i class="fa fa-plus" aria-hidden="true"></i>
    //                                            </div>
    //                                        </div>
    //                                    </div>
    //                                </div>
    //                            </td>
    //                            <td class="hidden-sm-down item-total">$</td>
    //                        </tr>`
    //        //var img = $('.item-img').html();
    //        //var price = $('.item-price').html();
    //        //var sale = $('.item-sale').html();
    //        //var img = $('.item-img').html();
    //        //var img = $('.item-img').html();

    //    };

    // });
</script>
}*@