<p>Cash on Delivery</p>
<form asp-area="PaymentCoD" asp-controller="CoD" asp-action="CoDCheckout" method="POST" id="checkout-payment" class="form-horizontal">
    <div class="form-group">
        <div class="text-right w-100">
            <button type="submit" class="btn btn-success w-25">Cash on Delivery</button>
        </div>
    </div>
</form>
