@model ProductOption
@{
    ViewData["Title"] = "Thêm Lựa Chọn";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title">@ViewData["Title"]</h4>
            </div>
            <div class="col-md-6 ">
                <div class="text-right">
                    <button class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label>Tên Lựa Chọn</label>
                <input asp-for="Name" type="text" class="form-control Title" placeholder="Tên Lựa Chọn"  required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>
