
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Create Order</h2>
    </div>
    <div class="card-body">
        <form  asp-action="Createa" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index">Quay Lại</a>
    </div>
</div>