@model List<TaxClass>


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-secondary">Tax Class</h2>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <a class="btn btn-primary" asp-controller="TaxClass" asp-action="Create">
                        <i class="fas fa-plus"></i>
                        Add Item
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <div class="card-body">
            <table class="table table-bordered table-striped" id="zero_config">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Name</th>
                            <th>
                                <a asp-action="Edit" asp-route-id="@item.Id">
                                    <div class="btn btn-success">
                                        <i class="fas fa-edit"></i>
                                    </div>
                                </a>
                                <button class="btn btn-danger" onclick="Delete(@item.Id)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </th>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
@section Scripts{
    <script>
        function Delete(id) {
            onModifyOption(function () {
                var url = '@Url.Content("~/")' + "TaxClass/Delete";
                $.post(url, { Id: id }).then(function () {
                    toastr.success("Xóa Thành công");
                    window.location = window.location.href;
                }).catch(function (error) {
                    toastr.error(error);
                });
                });
        }
    </script>
}