@model List<SliderVm>
<div class="banner">
    <div id="banner" class="carousel slide" data-ride="carousel">
        <div class="owl-carousel owlCarousel_slider owl-theme">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    <div class="item active">
                        <img class="w-100" src="/user-content/@Model[i].ThumbnailImageUrl">
                    </div>
                }
                else
                {
                    <div class="item ">
                        <img class="w-100" src="/user-content/@Model[i].ThumbnailImageUrl">
                    </div>
                }

            }

        </div>
    </div>
</div>