@model CartRule
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6"><h2 class="text-secondary">Cart Rule</h2></div>
               <div class="col-md-6 text-right">
                   <a asp-action="Create" class="btn btn-success">
                     <i class="fas fa-plus"></i>    
                        Add Items
                   </a>
               </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" >
            <table class="table table-striped" id="example"  style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Is Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

</div>
@section Scripts{
    <script>
        var table = $("#example").DataTable({
            "language": {
                "processing": "loading data",
                "info": "bản ghi từ _START_ đến _END_ và có tổng _TOTAL_ bản ghi",
                "emptyTable": "Không tìm thấy bản ghi",
                "search": "Tìm kiếm",
                "lengthMenu": "Xem _MENU_ bản ghi"
            },
            "processing": true,
            "serverSide": true,
            "filter": true,
            "ajax": {
                "url": `/CartRule/query`,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [
            {
                "targets": [3],
                "visible": true,
                "searchable": false,
                "orderable": false,
            },
            {
                "targets": [4],
                "visible": true,
                "searchable": false,
                "orderable": false,
            }],
            "columns": [
                { "data": "name", "name": "Name" },
                { "data": "startOn", "name": "StartOn",
                  "render": function (data, type, row) {
                        if (type === "sort" || type === "type" || data == null) {
                            return data;
                        };
                        return moment(data).format("MM-DD-YYYY");
                    }
                },
                { "data": "endOn", "name": "EndOn", 
                  "render": function (data, type, row) {
                        if (type === "sort" || type === "type" || data == null) {
                            return data;
                        };
                        return moment(data).format("MM-DD-YYYY");
                    }                
                },
                  {
                    "data": "isActive", "name": "IsActive",
                    "render": function (IsActive, type, full, meta) {
                        if (IsActive) {
                            return '<i class="fas fa-check text-primary"></i>';
                        } else {
                            return '<i class="fas fa-times text-danger"></i>';
                        }
                    }
                    },
                    {
                    "data": "id",
                    "render": function (data, row) {
                        return `<a href="/CartRule/Edit/${data}">
                                <button class='btn btn-success' >
                                        <i class="fas fa-edit"></i>
                                </button>
                                </a>
                                <button  class='btn btn-danger' onclick='Delete(${data})'>
                                        <i class="fas fa-trash-alt"></i>
                                </button>`;
                    }
                    }]
        });
           function Delete(id) {
            onModifyOption(function () {
                var url = '@Url.Content("~/")' + "CartRule/Delete";

                $.post(url, { id:id }).then(function (data) {
                        oTable = $('#example').DataTable();
                        oTable.draw();
                }).catch(function(){
                    toastr.error("Có Lỗi Xảy ra")
                });
            });
        }
    </script>
}