@{
    ViewData["Title"] = "Gửi nhận xét thành công";
}
<h1>Cảm ơn bạn đã gửi nhận xét</h1>
<h3>Nhận xét của bạn đã gửi đi thành công, chúng tôi sẽ phê duyệt sau 24h làm việc</h3>
<h3>
    bạn sẽ quay lại trang chủ trong
    <span class="rederect-to"></span>
</h3>
@section Scripts{
    <script>
        $(document).ready(function () {
            var seconds = 5;
            setInterval(function () {
                seconds--;
                $(".rederect-to").html(seconds + " giây");
                if (seconds == 0) {
                    window.location = "https://localhost:5001";
                }
            }, 1000);
        })
    </script>
}