@model FormCategory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-subtitle">Thêm mới danh mục</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Categorys.Code" class="control-label"></label>
                        <input asp-for="Categorys.Code" type="text" class="form-control" value="@Model.Categorys.Code" />
                        <span asp-validation-for="Categorys.Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Categorys.Title" class="control-label"></label>
                        <input asp-for="Categorys.Title" type="text" class="form-control Title" />
                        <span asp-validation-for="Categorys.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Categorys.Slug" class="control-label"></label>
                        <input asp-for="Categorys.Slug" type="text" class="form-control" id="permalink" readonly />
                        <span asp-validation-for="Categorys.Slug" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Categorys.Description" class="control-label"></label>
                        <input asp-for="Categorys.Description" class="form-control" />
                        <span asp-validation-for="Categorys.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ảnh</label>
                        <input asp-for="ThumbnailImage" class="form-control-file" type="file" id="thumbnail" onchange="previewFile(this)" hidden />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                        <br />
                        <img id="previewThumbnail" width="90" />
                        <br />
                        <label for="thumbnail" class="btn btn-primary mt-1">Chọn ảnh</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/Slug/speakingurl.min.js"></script>
    <script src="~/lib/Slug/jquery.stringtoslug.js"></script>
    <script>
        function previewFile(input) {
            var file = $(input).get(0).files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function () {
                    $("#previewThumbnail").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        };
        $(document).ready(function () {
            $(".Title").stringToSlug();

        });
    </script>
}
