@model FormCategory

@{
    ViewData["Title"] = "Updated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Updated</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Updated"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Categorys.Id" />
            <div class="form-group">
                <label asp-for="Categorys.Code" class="control-label"></label>
                <input asp-for="Categorys.Code" class="form-control" />
                <span asp-validation-for="Categorys.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorys.Title" class="control-label"></label>
                <input asp-for="Categorys.Title" class="form-control" />
                <span asp-validation-for="Categorys.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorys.Description" class="control-label"></label>
                <input asp-for="Categorys.Description" class="form-control" />
                <span asp-validation-for="Categorys.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailImage" class="control-label"></label>
                <input asp-for="ThumbnailImage" class="form-control-file"  type="file"/>
                <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
