<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <link href="~/lib/owl.carousel/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/list_product.css">

    <link rel="stylesheet" href="~/css/custom-select.css">
    <link rel="stylesheet" href="~/css/single.css">
    <!--============================Animation========================================-->
    <link rel="stylesheet" type="text/css" href="~/css/animation.css">
    <!--============================Animation========================================-->

    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <div id="header-top" class=" hidden-sm-down">
            <div class="container">
                <div class="languages">
                    <ul class="nav">
                        <li class="lan custom-select">
                            <select>
                                <option>Tiếng việt</option>
                                <option>English</option>
                            </select>
                        </li>
                        <li class="money custom-select">
                            <select>
                                <option>VNĐ</option>
                                <option>USD</option>
                            </select>
                        </li>
                        <li>
                            <div class="textwidget">
                                <p>
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i> +84 987 325 600
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>

                <div class="top-link">
                    <ul class="nav">
                        <li><a href="~/html/trackorder.html">Track order</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mobile-nav">
            <div class="mobile-logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/system/logo.png"></a>
            </div>
            <div class="mobile-group-btn">
                <ul>
                    <li>
                        <form class="input-group modal-search-header">
                            <div class="form-outline">
                                <input id="search-input" type="search" class="form-control" placeholder="search" />
                            </div>
                        </form>
                        <button id="search-button" type="button" class="btn btn-primary js-show-modal-search">
                            <i class="fas fa-search"></i>
                        </button>
                    </li>
                    <li class="wishlist-icon">
                        <a href="~/html/wishlist.html"><i class="fal fa-heart"></i> <span class="wishlist-count">2</span></a>
                        <input type="number" id="wishlist-count-input-mb" name="wishlist-count">
                    </li>
                    <li class="cart-icon">
                        <a href="~/html/cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="cart-count">0</span></a>
                        <input type="number" id="cart-count-input-mb" name="cart-count">
                    </li>
                    <li class="open-close">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div id="header-mid">
            <div class="container">
                <a href="" class="close-menu close-open"><i class="fas fa-window-close"></i></a>
                <div class="row">
                    <div class="col-8">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/img/system/logo.png"></a>
                        </div>
                        <div class="menu-main">
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="nav-item"><a class="nav-link active" asp-controller="Product" asp-action="Index">Product</a></li>
                                <li class="nav-item"><a class="nav-link active" asp-controller="Blog" asp-action="Index">Blog</a></li>
                                <li class="nav-item"><a class="nav-link active" asp-controller="Contact" asp-action="Index">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="menu-login">
                            <ul class="nav">
                                <li>
                                    <form class="input-group modal-search-header">
                                        <div class="form-outline">
                                            <input id="search-input" type="search" class="form-control" placeholder="search" />
                                        </div>
                                    </form>
                                    <button id="search-button" type="button" class="btn btn-primary js-show-modal-search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </li>
                                <li class="login-icon">
                                    <a href="~/html/login.html">LOG IN / SIGN UP</a>
                                    <div class="login-content content-dropdown">
                                        <form>
                                            <label>Tên đăng nhập</label>
                                            <input type="text" name="username" autocomplete="off">
                                            <label>Mật khẩu</label>
                                            <input type="password" name="password" autocomplete="off">
                                            <div class="note">
                                                <span><i class="fa fa-square-o" aria-hidden="true"></i> ghi nhớ</span>
                                                <a href="" style="float: right;">Quên mật khẩu</a>
                                            </div>
                                            <button class="btn btn-black">Đăng nhập</button>
                                            <div class="note">
                                                <span>Khách hàng mới</span>
                                                <a href="" style="padding-left: 10px;">Đăng ký</a>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="wishlist-icon">
                                    <a href="~/html/wishlist.html"><i class="fal fa-heart"></i> <span class="wishlist-count">2</span></a>
                                    <input type="number" id="wishlist-count-input" name="wishlist-count" value="2">
                                    <div class="wishlist-content content-dropdown">
                                        <ul class="scroll-js scroll-y">
                                            <!-- Danh sách sản phẩm yêu thích -->
                                        </ul>
                                        <hr>

                                        <a href="~/html/cart.html" class="btn btn-black">Xem danh sách</a>
                                    </div>
                                </li>
                                <li class="cart-icon">
                                    <a href="~/html/cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="cart-count">0</span></a>
                                    <input type="number" id="cart-count-input" name="cart-count">
                                    <div class="cart-content content-dropdown">
                                        <ul class="scroll-js scroll-y">
                                        </ul>
                                        <hr>
                                        <div class="total">
                                            <label>Tổng:</label>
                                            <span class="total-cart">960.000</span>
                                            <span class="vnd">VNĐ</span>
                                        </div>
                                        <a href="~/html/cart.html" class="btn btn-black">Thanh toán</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div id="header-bottom">
            <p>Miễn phí giao hàng nội thành
            <p>
        </div>
        <div class="clearfix"></div>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-midde">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 help">
                        <h3>Trợ giúp</h3>
                        <ul class="">
                            <li><a href="#">Thanh toán</a></li>
                            <li><a href="#">Mua hàng</a></li>
                            <li><a href="#">Đổi trả</a></li>
                            <li><a href="#">Nạp tiền</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 location search">
                        <h3>Vị trí</h3>
                        <ul class="nav">
                            <li>Tìm cửa hàng <br><a href="#" class="btn btn-gray"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
                            <li>Tìm đơn hàng <br><a href="#" class="btn btn-gray"><i class="fa fa-id-card" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 application">
                        <h3>Tải ứng dụng</h3>
                        <ul>
                            <li><a href="#" class="btn btn-black"><i class="fa fa-apple" aria-hidden="true"></i><span><small>Download on the</small> App Store</span></a></li>
                            <li><a href="#" class="btn btn-gray"><i class="fa fa-android" aria-hidden="true"></i><span><small>Download it from </small>Play Store</span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>Fan</h3>
                        <ul class="nav icon">
                            <li>
                                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                    <div class="clearfixr"></div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Ⓒ Created by Toan</p>
                    </div>
                    <div class="col-md-6">
                        <div class="cards text-right">
                            <img src="~/img/cards.png" alt="Credit Cards" style="width: 187px">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/owl.carousel/owl.carousel.js"></script>
    <script src="~/js/custom-select.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
