@model ReplyForm

<div class="alert alert-success" role="alert">
    <h4>
        @string.Format("Thank you {0} for your reply", Model.ReplierName)
    </h4>

    <p>Your reply will be shown within the next 24h.</p>
</div>