@model IList<ProductThumbnail>

@if (Model.Any())
{
    <div class="product__list">
        <h3>Recently viewed products</h3>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-6 col-md-3">
                    <partial name="~/Views/Shared/_ProductThumbnail.cshtml" model="product" />
                </div>
            }
        </div>
    </div>
}
