@model List<ProductVm>
@{
    ViewData["Title"] = "Home Page";
}
@section head{
    <style>
        .owl-prev {
            position: absolute;
            top: 50%;
            left: 0%;
        }

        .owl-next {
            position: absolute;
            top: 50%;
            right: 0%;
        }
        .owlCarousel_slider2 .owl-item{
            padding: 0 15px;
        }
        .owlCarousel_slider2 {
            list-style:none;
        }
        .optionactive{
            opacity: 1 !important;
            border: 2px solid black !important;
        }
    </style>
}


<div class="banner">
    <div id="banner" class="carousel slide" data-ride="carousel">
        <div class="owl-carousel owlCarousel_slider owl-theme">
            <div class="item active">
                <img class="w-100" src="~/img/banner/slider1.jpg">
            </div>
            <div class="item">
                <img class="w-100" src="~/img/banner/slider2.png">
                <!-- <div class="carousel-caption ">
                    <div class="caption-content col-md-6 f-right">
                        <h3 class="fadeInRight">Bộ sưu tập nam</h3>
                        <p class="fadeInRight">Những sản phẩm mới nhất dành cho nam</p>
                        <a href="#" class="btn btn-black fadeInRight">Mua ngay</a>
                    </div>
                </div> -->
            </div>
            <div class="item">
                <img class="w-100" src="~/img/banner/slider3.png">
                <!-- <div class="carousel-caption ">
                    <div class="caption-content col-md-6 f-right">
                        <h3 class="fadeInRight">Bộ sưu tập nam</h3>
                        <p class="fadeInRight">Những sản phẩm mới nhất dành cho nam</p>
                        <a href="#" class="btn btn-black fadeInRight">Mua ngay</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div id="product-new" class="product">
    <div class="container">
        <div class="row">
            <h2 class="title">Sản phẩm mới</h2>
            @await Component.InvokeAsync("ProductFuture");

        </div>
    </div>
</div>

<div id="product-hot" class="product">
    @await Component.InvokeAsync("ProductHot");
</div>
@section Scripts{
    <script src="~/js/single.js"></script>
    <script>
        $(".owlCarousel_slider").owlCarousel({
            autoplay: true, // tự động chuyển slider
            //loop: true,
            items: 1,
            nav: true, // hiện thị bật tắt nút next,back
            dots: true,
            lazyLoad: true,
            // slideBy:1,
            // // lazyLoadEager: 4,
            // // lazyLoad : true,
            autoHeight: true,
            navText: ['<i class="fa fa-chevron-left" aria-hidden="true"></i>', '<i class="fa fa-chevron-right" aria-hidden="true"></i>'] /// nút next,back
        });
        $(".owlCarousel_slider2").owlCarousel({
            autoplay: true, // tự động chuyển slider
            //loop: true,
            nav: false, // hiện thị bật tắt nút next,back
            dots: false,
            lazyLoad: true,
            // slideBy:1,
            // // lazyLoadEager: 4,
            // // lazyLoad : true,
            autoHeight: true,
             responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }

        });
        // time;
        $(document).ready(function () {
            // Set the date we're counting down to
            var countDownDate = new Date("June 20, 2021 00:00:00").getTime();

            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                $("#clockdiv").html(`
                            <div>
                                <span class="days">${days}</span>
                                <div class="smalltext">ngày</div>
                            </div>
                            <div>
                                <span class="hours">${hours}</span>
                                <div class="smalltext">giờ</div>
                            </div>
                            <div>
                                <span class="minutes">${minutes}</span>
                                <div class="smalltext">phút</div>
                            </div>
                            <div>
                                <span class="seconds">${seconds}</span>
                                <div class="smalltext">giây</div>
                            </div>`);

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    $("#clockdiv").innerHTML = "EXPIRED";
                }
            }, 1000);

        })
        //chon file
        $(document).ready(function () {
        var optionvalue = @Html.Raw(Json.Serialize(Model.Select(x => x.Options).ToList()));
        for (var i in optionvalue) {
            var item = optionvalue[i];
            if (item != null && item != undefined && item != "") {
            $(`input[name="inlineRadioOptions-${item[0].id}"]`).on('click', function () {
                var id = $(this).next().attr("data-id");
                $(`.form-check-label[data-id=${id}]`).removeClass('optionactive')
                $(this).prop('checked', $(this).is(':checked')).next().addClass("optionactive");
            });
            }
            };
        });
    </script>
}